<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../admin-partials/header.ejs') %>
    </head>

    <body>
        <div class="container-xxl position-relative  d-flex p-0">

            <!-- Sidebar Start -->
            <%- include('../admin-partials/sidebar.ejs') %>
            <!-- Sidebar End -->

            <!-- Content Start -->
            <div class="content bg-dark">
                <!-- Navbar Start -->
                <%- include('../admin-partials/navbar.ejs') %>
                <!-- Navbar End -->

                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-md-6 col-xl-6">
                            <div
                                class="bg-dark border border-2 border-primary text-light rounded d-flex align-items-center justify-content-between p-4">
                                <i
                                    class="fa fa-chart-bar fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">The Best Project</p>
                                    <h6 class="mb-0 text-light">Bubble Sort</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-6">
                            <div
                                class="bg-dark border text-light border-2 border-primary rounded d-flex align-items-center justify-content-between p-4">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 24 24"
                                    width="48px"
                                    fill="#36aaa6">
                                    <path
                                        d="m24,24h-6.5v-6c0-1.105.895-2,2-2h2.5c1.105,0,2,.895,2,2v6ZM9.345,7.564l.48.362,2.183-1.687,2.173,1.68.504-.349-.884-2.686,2.197-1.273v-.611h-2.883l-.784-3h-.648l-.784,3h-2.899v.615l2.212,1.231-.869,2.717Zm-4.845,5.436h-2.5c-1.105,0-2,.895-2,2v9h6.5v-9c0-1.105-.895-2-2-2Zm9-4h-3c-1.105,0-2,.895-2,2v13h7v-13c0-1.105-.895-2-2-2Z" />
                                </svg>
                                <div class="ms-3">
                                    <p class="mb-2">The Best Project Score</p>
                                    <h6 class="mb-0 text-light">113</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Sale & Revenue End -->

                <!-- Sales Chart Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-md-6 ">
                            <div
                                class=" bg-dark border h-100 border-2 border-primary rounded p-4">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-2">
                                    <h6 class="mb-0 text-light">Messages</h6>
                                    <a href="/admin-panel/messages">Show All</a>
                                </div>
                                <div
                                    class="d-flex  align-items-center border-bottom py-3">
                                    <div class="w-100  ms-3">
                                        <span>You Don't Have Any Message</span>
                                    </div>
                                </div>
                                <!-- <div
                                    class="d-flex align-items-center border-bottom py-3">
                                    <img class="rounded-circle flex-shrink-0"
                                        src="img/user.jpg" alt
                                        style="width: 40px; height: 40px;">
                                    <div class="w-100 ms-3">
                                        <div
                                            class="d-flex w-100 justify-content-between">
                                            <h6 class="mb-0 text-light">Jhon
                                                Doe</h6>
                                            <small class="text-light">15 minutes
                                                ago</small>
                                        </div>
                                        <span>Short message goes here...</span>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div
                                class="h-100 bg-dark border border-2 border-primary rounded p-4">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-4">
                                    <h6 class="mb-0 text-light">Calender</h6>
                                    <a href>Today</a>
                                </div>
                                <div id="calender"></div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div
                                class="h-100 bg-dark border border-2 border-primary rounded p-4">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-4">
                                    <h6 class="mb-0 text-light">To Do List</h6>
                                    <a href>Show All</a>
                                </div>
                                <div class="d-flex mb-2">
                                    <input
                                        class="form-control border-primary border-2 bg-transparent"
                                        type="text" placeholder="Enter task">
                                    <button type="button"
                                        class="btn btn-primary ms-2">Add</button>
                                </div>

                                <div
                                    class="d-flex align-items-center border-bottom py-2">
                                    <input class="form-check-input m-0"
                                        type="checkbox" checked>
                                    <div class="w-100 ms-3">
                                        <div
                                            class="d-flex w-100 align-items-center justify-content-between">
                                            <span><del>Short task goes
                                                    here...</del></span>
                                            <button
                                                class="btn btn-sm text-primary"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center pt-2">
                                    <input class="form-check-input m-0"
                                        type="checkbox">
                                    <div class="w-100 ms-3">
                                        <div
                                            class="d-flex w-100 align-items-center justify-content-between">
                                            <span>Short task goes here...</span>
                                            <button class="btn btn-sm"><i
                                                    class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div
                                class="bg-dark border  border-2 border-primary  rounded h-100 p-4">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-4">
                                    <h6 class="mb-4 text-light">Best
                                        Comments</h6>
                                    <a href>Show All</a>
                                </div>
                                <div class="owl-carousel testimonial-carousel">
                                    <% for( let index = 0; index < 10; index++ )
                                    { %>
                                    <div
                                        class="testimonial-item text-center text-light">
                                        <img
                                            class="img-fluid rounded-circle mx-auto mb-4"
                                            src="/static/img/2.jpg"
                                            style="width: 100px; height: 100px;">
                                        <h5 class="mb-1 text-light">Client
                                            Name</h5>
                                        <p>Profession</p>
                                        <p class="mb-0">Dolor et eos labore,
                                            stet justo sed est sed. Diam sed sed
                                            dolor stet amet eirmod eos labore
                                            diam</p>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sales Chart End -->

                <!-- Widgets Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">

                    </div>
                </div>
                <!-- Widgets End -->

                <!-- Footer Start -->
                <%- include('../admin-partials/footer.ejs') %>

                <!-- Footer End -->
            </div>
            <!-- Content End -->

            <!-- Back to Top -->

        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/chart/chart.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/easing/easing.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/waypoints/waypoints.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/owlcarousel/owl.carousel.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/moment.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script
            src="/static/admin-panel-assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="/static/admin-panel-assets/js/main.js"></script>
    </body>

</html>