<div class="card  custom-code-card m-2">
    <img src="/static/img/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick
            and make up the bulk of the card's content.</p>
        <a href="#" class="btn custom-btn">Read This Code</a>
    </div>
</div>