<div class="card  popular-categories-card">
    <div class="card-header text-center" style="background-color: #3FAAA6;">
        <h5>Popular Codes</h5>
    </div>
    <ul class="list-group list-group-flush">

        <% for( let index = 0; index < 10; index++ ) { %>

        <li class="list-group-item border-0">
            <a class="nav-link custom-link" href="#">
                Another item
            </a>
        </li>
        <% } %>

    </ul>
</div>
