<div class="col-md-4 p-2">
    <div class="card  custom-code-card m-2">
        <img src="/static/img/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= project.title %></h5>
            <p class="card-text"><% if (project.desc.length > 50) { %>
                <%= project.desc.substring(0,50) + "..." %>
                <% } %></p>
            <a href="/code-details/<%= project._id %>"
                class="btn custom-btn">Read Code</a>
        </div>
    </div>
</div>