<div class="col-md-3">
    <div class="card  custom-code-card m-2">
        <img src="/static/img/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= project.title %></h5>
            <p class="card-text"><%= project.desc %></p>
            <a href="/code-details/<%= project._id %>"
                class="btn custom-btn">Read This Code</a>
        </div>
    </div>
</div>