<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header.ejs') %>
        <link rel="stylesheet" href="/static/css/categories.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div class="container-fluid text-light">
            <div class="row justify-content-center p-3 align-items-center">
                <div class="col-md-12">
                    <div class="card text-center custom-header-card">
                        <div class="card-header">
                            <h1>Category List</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-5 align-items-center justify-content-center">
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.0497 8.44062C22.6378 3.32607 19.2566 0 19.2566 0C19.7598 5.28738 13.813 6.53583 12.2189 10.1692C11.1312 12.6485 12.9638 14.8193 16.0475 17.5554C15.7749 16.9494 15.3544 16.3606 14.9288 15.7645C13.4769 13.7313 11.9645 11.6132 16.0497 8.44062Z"
                                            fill="#E76F00" />
                                        <path
                                            d="M17.1015 18.677C17.1015 18.677 19.0835 17.0779 17.5139 15.3008C12.1931 9.27186 23.3333 6.53583 23.3333 6.53583C16.5317 9.8125 17.5471 11.7574 19.2567 14.1202C21.0871 16.6538 17.1015 18.677 17.1015 18.677Z"
                                            fill="#E76F00" />
                                        <path
                                            d="M22.937 23.4456C29.0423 20.3258 26.2195 17.3278 24.2492 17.7317C23.7662 17.8305 23.5509 17.9162 23.5509 17.9162C23.5509 17.9162 23.7302 17.64 24.0726 17.5204C27.9705 16.1729 30.9682 21.4949 22.8143 23.6028C22.8143 23.6029 22.9088 23.5198 22.937 23.4456Z"
                                            fill="#5382A1" />
                                        <path
                                            d="M10.233 19.4969C6.41312 18.9953 12.3275 17.6139 12.3275 17.6139C12.3275 17.6139 10.0307 17.4616 7.20592 18.8043C3.86577 20.3932 15.4681 21.1158 21.474 19.5625C22.0984 19.1432 22.9614 18.7798 22.9614 18.7798C22.9614 18.7798 20.5037 19.2114 18.0561 19.4145C15.0612 19.6612 11.8459 19.7093 10.233 19.4969Z"
                                            fill="#5382A1" />
                                        <path
                                            d="M11.6864 22.4758C9.55624 22.2592 10.951 21.2439 10.951 21.2439C5.43898 23.0429 14.0178 25.083 21.7199 22.8682C20.9012 22.5844 20.3806 22.0653 20.3806 22.0653C16.6163 22.7781 14.441 22.7553 11.6864 22.4758Z"
                                            fill="#5382A1" />
                                        <path
                                            d="M12.6145 25.6991C10.486 25.4585 11.7295 24.7474 11.7295 24.7474C6.72594 26.1222 14.7729 28.9625 21.1433 26.2777C20.0999 25.8787 19.3528 25.4181 19.3528 25.4181C16.5111 25.9469 15.1931 25.9884 12.6145 25.6991Z"
                                            fill="#5382A1" />
                                        <path
                                            d="M25.9387 27.3388C25.9387 27.3388 26.8589 28.0844 24.9252 28.6612C21.2481 29.7566 9.62093 30.0874 6.39094 28.7049C5.22984 28.2082 7.40723 27.5189 8.09215 27.3742C8.80646 27.2219 9.21466 27.2503 9.21466 27.2503C7.9234 26.3558 0.868489 29.0067 5.63111 29.7659C18.6195 31.8372 29.3077 28.8331 25.9387 27.3388Z"
                                            fill="#5382A1" />
                                        <path
                                            d="M28 28.9679C27.7869 31.6947 18.7877 32.2683 12.9274 31.8994C9.10432 31.6583 8.33812 31.0558 8.32691 31.047C11.9859 31.6402 18.1549 31.7482 23.1568 30.8225C27.5903 30.0016 28 28.9679 28 28.9679Z"
                                            fill="#5382A1" />
                                    </svg>
                                    <strong class="fs-4">Java</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="java1">
                                    </div>
                                    <div class="circle " id="java2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/java"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="-16 0 288 288" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        preserveAspectRatio="xMidYMid">
                                        <g>
                                            <path
                                                d="M255.569,84.452376 C255.567,79.622376 254.534,75.354376 252.445,71.691376 C250.393,68.089376 247.32,65.070376 243.198,62.683376 C209.173,43.064376 175.115,23.505376 141.101,3.86637605 C131.931,-1.42762395 123.04,-1.23462395 113.938,4.13537605 C100.395,12.122376 32.59,50.969376 12.385,62.672376 C4.064,67.489376 0.015,74.861376 0.013,84.443376 C0,123.898376 0.013,163.352376 0,202.808376 C0,207.532376 0.991,211.717376 2.988,215.325376 C5.041,219.036376 8.157,222.138376 12.374,224.579376 C32.58,236.282376 100.394,275.126376 113.934,283.115376 C123.04,288.488376 131.931,288.680376 141.104,283.384376 C175.119,263.744376 209.179,244.186376 243.209,224.567376 C247.426,222.127376 250.542,219.023376 252.595,215.315376 C254.589,211.707376 255.582,207.522376 255.582,202.797376 C255.582,202.797376 255.582,123.908376 255.569,84.452376"
                                                fill="#A179DC"
                                                fill-rule="nonzero">

                                            </path>
                                            <path
                                                d="M128.182,143.241376 L2.988,215.325376 C5.041,219.036376 8.157,222.138376 12.374,224.579376 C32.58,236.282376 100.394,275.126376 113.934,283.115376 C123.04,288.488376 131.931,288.680376 141.104,283.384376 C175.119,263.744376 209.179,244.186376 243.209,224.567376 C247.426,222.127376 250.542,219.023376 252.595,215.315376 L128.182,143.241376"
                                                fill="#280068"
                                                fill-rule="nonzero">

                                            </path>
                                            <path
                                                d="M255.569,84.452376 C255.567,79.622376 254.534,75.354376 252.445,71.691376 L128.182,143.241376 L252.595,215.315376 C254.589,211.707376 255.58,207.522376 255.582,202.797376 C255.582,202.797376 255.582,123.908376 255.569,84.452376"
                                                fill="#390091"
                                                fill-rule="nonzero">

                                            </path>
                                            <path
                                                d="M201.892326,116.294008 L201.892326,129.767692 L215.36601,129.767692 L215.36601,116.294008 L222.102852,116.294008 L222.102852,129.767692 L235.576537,129.767692 L235.576537,136.504534 L222.102852,136.504534 L222.102852,149.978218 L235.576537,149.978218 L235.576537,156.71506 L222.102852,156.71506 L222.102852,170.188744 L215.36601,170.188744 L215.36601,156.71506 L201.892326,156.71506 L201.892326,170.188744 L195.155484,170.188744 L195.155484,156.71506 L181.6818,156.71506 L181.6818,149.978218 L195.155484,149.978218 L195.155484,136.504534 L181.6818,136.504534 L181.6818,129.767692 L195.155484,129.767692 L195.155484,116.294008 L201.892326,116.294008 Z M215.36601,136.504534 L201.892326,136.504534 L201.892326,149.978218 L215.36601,149.978218 L215.36601,136.504534 Z"
                                                fill="#FFFFFF">

                                            </path>
                                            <path
                                                d="M128.456752,48.625876 C163.600523,48.625876 194.283885,67.7121741 210.718562,96.0819435 L210.558192,95.808876 L169.209615,119.617159 C161.062959,105.823554 146.128136,96.5150717 128.996383,96.3233722 L128.456752,96.3203544 C102.331178,96.3203544 81.1506705,117.499743 81.1506705,143.625316 C81.1506705,152.168931 83.4284453,160.17752 87.3896469,167.094792 C95.543745,181.330045 110.872554,190.931398 128.456752,190.931398 C146.149522,190.931398 161.565636,181.208041 169.67832,166.820563 L169.481192,167.165876 L210.767678,191.083913 C194.51328,219.21347 164.25027,238.240861 129.514977,238.620102 L128.456752,238.625876 C93.2021701,238.625876 62.4315028,219.422052 46.0382398,190.902296 C38.0352471,176.979327 33.4561922,160.837907 33.4561922,143.625316 C33.4561922,91.1592636 75.9884604,48.625876 128.456752,48.625876 Z"
                                                fill="#FFFFFF"
                                                fill-rule="nonzero">

                                            </path>
                                        </g>
                                    </svg>
                                    <strong class="fs-4">C-Sharp</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="csharp1">
                                    </div>
                                    <div class="circle " id="csharp2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/csharp"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 64 64" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        xml:space="preserve"
                                        xmlns:serif="http://www.serif.com/"
                                        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">

                                        <rect id="Icons" x="-1088" y="-64"
                                            width="1280" height="800"
                                            style="fill:none;" />

                                        <g id="Icons1" serif:id="Icons">

                                            <g id="Strike">

                                            </g>

                                            <g id="H1">

                                            </g>

                                            <g id="H2">

                                            </g>

                                            <g id="H3">

                                            </g>

                                            <g id="list-ul">

                                            </g>

                                            <g id="hamburger-1">

                                            </g>

                                            <g id="hamburger-2">

                                            </g>

                                            <g id="list-ol">

                                            </g>

                                            <g id="list-task">

                                            </g>

                                            <g id="trash">

                                            </g>

                                            <g id="vertical-menu">

                                            </g>

                                            <g id="horizontal-menu">

                                            </g>

                                            <g id="sidebar-2">

                                            </g>

                                            <g id="Pen">

                                            </g>

                                            <g id="Pen1" serif:id="Pen">

                                            </g>

                                            <g id="clock">

                                            </g>

                                            <g id="external-link">

                                            </g>

                                            <g id="hr">

                                            </g>

                                            <g id="info">

                                            </g>

                                            <g id="warning">

                                            </g>

                                            <g id="plus-circle">

                                            </g>

                                            <g id="minus-circle">

                                            </g>

                                            <g id="vue">

                                            </g>

                                            <g id="cog">

                                            </g>

                                            <g id="logo">

                                            </g>

                                            <g id="radio-check">

                                            </g>

                                            <g id="eye-slash">

                                            </g>

                                            <g id="eye">

                                            </g>

                                            <g id="toggle-off">

                                            </g>

                                            <g id="shredder">

                                            </g>

                                            <g id="spinner--loading--dots-"
                                                serif:id="spinner [loading, dots]">

                                            </g>

                                            <g id="react">

                                                <circle cx="32.001" cy="31.955"
                                                    r="4.478"
                                                    style="fill:#00d8ff;" />

                                                <path
                                                    d="M32.33,22.516c7.635,0.052 15.965,0.609 21.683,5.708c0.168,0.15 0.33,0.306 0.488,0.467c1.349,1.375 2.054,3.595 0.965,5.422c-2.234,3.751 -7.23,5.387 -12.067,6.394c-7.234,1.506 -14.798,1.518 -22.029,0.192c-4.161,-0.764 -8.416,-2.103 -11.373,-4.904c-1.151,-1.09 -2.135,-2.524 -1.981,-4.12c0.25,-2.582 2.727,-4.239 4.812,-5.361c5.791,-3.116 12.847,-3.813 19.502,-3.798Zm-0.554,1.173c-7.224,0.049 -15.043,0.51 -20.621,5.129c-0.195,0.161 -0.383,0.33 -0.564,0.507c-0.117,0.114 -0.23,0.233 -0.339,0.355c-0.979,1.1 -1.316,2.867 -0.392,4.188c0.93,1.329 2.342,2.288 3.796,3.07c5.438,2.924 11.864,3.443 18.129,3.465c6.343,0.023 12.884,-0.555 18.487,-3.452c2.232,-1.155 4.744,-2.851 4.655,-5.035c-0.082,-2.004 -2.036,-3.242 -3.499,-4.126c-0.396,-0.239 -0.803,-0.46 -1.216,-0.668c-5.562,-2.787 -12.08,-3.447 -18.436,-3.433Z"
                                                    style="fill:#00d8ff;" />

                                                <path
                                                    d="M42.115,10.703c2.793,0.071 4.24,3.429 4.431,5.909c0.038,0.493 0.052,0.988 0.046,1.483c-0.006,0.536 -0.035,1.072 -0.082,1.606c-0.589,6.612 -3.608,12.909 -7.163,18.724c-3.477,5.688 -7.717,11.36 -13.485,13.996c-1.907,0.872 -4.175,1.41 -5.863,0.437c-2.314,-1.333 -2.567,-4.451 -2.524,-6.816c0.011,-0.581 0.049,-1.162 0.109,-1.741c0.889,-8.56 5.228,-16.669 10.658,-23.655c3.168,-4.076 6.937,-8.119 11.632,-9.583c0.739,-0.231 1.326,-0.371 2.241,-0.36Zm-0.134,1.172c-3.279,0.052 -6.223,2.482 -8.83,5.007c-6.854,6.637 -11.905,15.464 -13.937,24.721c-0.157,0.717 -0.289,1.439 -0.386,2.166c-0.075,0.563 -0.13,1.129 -0.159,1.697c-0.023,0.452 -0.031,0.905 -0.017,1.358c0.01,0.354 0.033,0.708 0.072,1.06c0.029,0.269 0.068,0.537 0.117,0.803c0.037,0.197 0.08,0.393 0.13,0.588c0.041,0.158 0.087,0.315 0.139,0.471c0.409,1.233 1.463,2.411 2.878,2.45c3.301,0.09 6.409,-2.317 9.096,-4.933c4.717,-4.591 8.232,-10.36 10.978,-16.424c2.216,-4.896 4.243,-10.218 3.111,-15.607c-0.043,-0.204 -0.093,-0.406 -0.15,-0.606c-0.047,-0.163 -0.1,-0.324 -0.158,-0.483c-0.44,-1.199 -1.475,-2.271 -2.884,-2.268Z"
                                                    style="fill:#00d8ff;" />

                                                <path
                                                    d="M22.109,10.747c3.564,0.069 6.765,2.488 9.607,5.197c5.186,4.943 9.011,11.231 11.913,17.849c2.248,5.127 4.316,10.882 2.478,16.292c-0.579,1.705 -2.044,3.265 -3.997,3.305c-3.581,0.072 -6.9,-2.532 -9.78,-5.335c-7.225,-7.034 -12.589,-16.32 -14.427,-26.168c-0.132,-0.704 -0.237,-1.414 -0.309,-2.127c-0.059,-0.582 -0.096,-1.167 -0.106,-1.752c-0.008,-0.472 0.002,-0.944 0.035,-1.414c0.022,-0.314 0.054,-0.626 0.097,-0.937c0.041,-0.292 0.093,-0.583 0.158,-0.871c0.043,-0.191 0.091,-0.38 0.146,-0.568c0.539,-1.843 1.941,-3.485 4.185,-3.471Zm-0.135,1.173c-2.087,0.046 -3.042,2.507 -3.234,4.234c-0.039,0.354 -0.063,0.711 -0.074,1.068c-0.014,0.456 -0.008,0.913 0.015,1.369c0.328,6.599 3.278,12.979 6.838,18.821c3.352,5.5 7.4,10.978 12.968,13.794c1.608,0.813 3.562,1.452 4.951,0.684c1.742,-0.964 1.956,-3.261 2.049,-4.973c0.025,-0.466 0.028,-0.934 0.013,-1.401c-0.018,-0.586 -0.064,-1.171 -0.133,-1.753c-0.642,-5.437 -3.05,-10.582 -5.816,-15.444c-3.442,-6.048 -7.659,-12.076 -13.627,-15.225c-1.236,-0.652 -2.574,-1.185 -3.95,-1.174Z"
                                                    style="fill:#00d8ff;" />

                                            </g>

                                            <g id="check-selected">

                                            </g>

                                            <g id="turn-off">

                                            </g>

                                            <g id="code-block">

                                            </g>

                                            <g id="user">

                                            </g>

                                            <g id="coffee-bean">

                                            </g>

                                            <g id="coffee-beans">

                                                <g id="coffee-bean1"
                                                    serif:id="coffee-bean">

                                                </g>

                                            </g>

                                            <g id="coffee-bean-filled">

                                            </g>

                                            <g id="coffee-beans-filled">

                                                <g id="coffee-bean2"
                                                    serif:id="coffee-bean">

                                                </g>

                                            </g>

                                            <g id="clipboard">

                                            </g>

                                            <g id="clipboard-paste">

                                            </g>

                                            <g id="clipboard-copy">

                                            </g>

                                            <g id="Layer1">

                                            </g>

                                        </g>

                                    </svg>
                                    <strong class="fs-4">React</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="react1">
                                    </div>
                                    <div class="circle " id="react2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/react"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 256 256" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                        preserveAspectRatio="xMidYMid">
                                        <g>
                                            <path
                                                d="M0,0 L256,0 L256,256 L0,256 L0,0 Z"
                                                fill="#F7DF1E">

                                            </path>
                                            <path
                                                d="M67.311746,213.932292 L86.902654,202.076241 C90.6821079,208.777346 94.1202286,214.447137 102.367086,214.447137 C110.272203,214.447137 115.256076,211.354819 115.256076,199.326883 L115.256076,117.528787 L139.313575,117.528787 L139.313575,199.666997 C139.313575,224.58433 124.707759,235.925943 103.3984,235.925943 C84.1532952,235.925943 72.9819429,225.958603 67.3113397,213.93026"
                                                fill="#000000">

                                            </path>
                                            <path
                                                d="M152.380952,211.354413 L171.969422,200.0128 C177.125994,208.433981 183.827911,214.619835 195.684368,214.619835 C205.652521,214.619835 212.009041,209.635962 212.009041,202.762159 C212.009041,194.513676 205.479416,191.592025 194.481168,186.78207 L188.468419,184.202565 C171.111213,176.81473 159.597308,167.53534 159.597308,147.944838 C159.597308,129.901308 173.344508,116.153295 194.825752,116.153295 C210.119924,116.153295 221.117765,121.48094 229.021663,135.400432 L210.29059,147.428775 C206.166146,140.040127 201.699556,137.119289 194.826159,137.119289 C187.78047,137.119289 183.312254,141.587098 183.312254,147.428775 C183.312254,154.646349 187.78047,157.568406 198.089956,162.036622 L204.103924,164.614095 C224.553448,173.378641 236.067352,182.313448 236.067352,202.418387 C236.067352,224.071924 219.055137,235.927975 196.200432,235.927975 C173.860978,235.927975 159.425829,225.274311 152.381359,211.354413"
                                                fill="#000000">

                                            </path>
                                        </g>
                                    </svg>
                                    <strong class="fs-4">Javascript</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="js1">
                                    </div>
                                    <div class="circle " id="js2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/javascript"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="-18.458 -22.75 191.151 191.151"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M-18.458 6.58h191.151v132.49H-18.458V6.58z"
                                            fill="none" />
                                        <path
                                            d="M40.054 113.583h-5.175c-.183-8.735-.687-16.947-1.511-24.642h-.046l-7.879 24.642h-3.94l-7.832-24.642h-.045c-.581 7.388-.947 15.602-1.099 24.642H7.81c.304-10.993 1.068-21.299 2.289-30.919h6.414l7.465 22.719h.046l7.511-22.719h6.137c1.344 11.268 2.138 21.575 2.382 30.919M62.497 90.771c-2.107 11.434-4.887 19.742-8.337 24.928-2.688 3.992-5.633 5.99-8.84 5.99-.855 0-1.91-.258-3.16-.77v-2.757c.611.088 1.328.138 2.152.138 1.498 0 2.702-.412 3.62-1.238 1.098-1.006 1.647-2.137 1.647-3.388 0-.858-.428-2.612-1.282-5.268L42.618 90.77h5.084l4.076 13.19c.916 2.995 1.298 5.086 1.145 6.277 2.229-5.953 3.786-12.444 4.673-19.468h4.901v.002z"
                                            fill="#5d87a1" />
                                        <path
                                            d="M131.382 113.583h-14.7V82.664h4.945v27.113h9.755v3.806zM112.834 114.33l-5.684-2.805c.504-.414.986-.862 1.42-1.381 2.416-2.838 3.621-7.035 3.621-12.594 0-10.229-4.014-15.346-12.045-15.346-3.938 0-7.01 1.298-9.207 3.895-2.414 2.84-3.619 7.022-3.619 12.551 0 5.435 1.068 9.422 3.205 11.951 1.955 2.291 4.902 3.438 8.843 3.438 1.47 0 2.819-.18 4.048-.543l7.4 4.308 2.018-3.474zm-18.413-6.934c-1.252-2.014-1.878-5.248-1.878-9.707 0-7.785 2.365-11.682 7.1-11.682 2.475 0 4.289.932 5.449 2.792 1.25 2.017 1.879 5.222 1.879 9.619 0 7.849-2.367 11.774-7.099 11.774-2.476.001-4.29-.928-5.451-2.796M85.165 105.013c0 2.622-.962 4.773-2.884 6.458-1.924 1.678-4.504 2.519-7.737 2.519-3.024 0-5.956-.966-8.794-2.888l1.329-2.655c2.442 1.223 4.653 1.831 6.638 1.831 1.863 0 3.319-.413 4.375-1.232 1.055-.822 1.684-1.975 1.684-3.433 0-1.837-1.281-3.407-3.631-4.722-2.167-1.19-6.501-3.678-6.501-3.678-2.349-1.712-3.525-3.55-3.525-6.578 0-2.506.877-4.529 2.632-6.068 1.757-1.545 4.024-2.315 6.803-2.315 2.87 0 5.479.769 7.829 2.291l-1.192 2.656c-2.01-.854-3.994-1.281-5.951-1.281-1.585 0-2.809.381-3.66 1.146-.858.762-1.387 1.737-1.387 2.933 0 1.828 1.308 3.418 3.722 4.759 2.196 1.192 6.638 3.723 6.638 3.723 2.409 1.709 3.612 3.53 3.612 6.534"
                                            fill="#f8981d" />
                                        <path
                                            d="M137.59 72.308c-2.99-.076-5.305.225-7.248 1.047-.561.224-1.453.224-1.531.933.303.3.338.784.601 1.198.448.747 1.229 1.752 1.942 2.276.783.6 1.569 1.194 2.393 1.717 1.453.899 3.1 1.422 4.516 2.318.825.521 1.645 1.195 2.471 1.756.406.299.666.784 1.193.971v-.114c-.264-.336-.339-.822-.598-1.196l-1.122-1.082c-1.084-1.456-2.431-2.727-3.884-3.771-1.196-.824-3.812-1.944-4.297-3.322l-.076-.076c.822-.077 1.797-.375 2.578-.604 1.271-.335 2.43-.259 3.734-.594.6-.15 1.195-.338 1.797-.523v-.337c-.676-.673-1.158-1.567-1.869-2.203-1.902-1.643-3.998-3.25-6.164-4.595-1.16-.749-2.652-1.231-3.887-1.868-.445-.225-1.195-.336-1.457-.71-.67-.822-1.047-1.904-1.533-2.877-1.08-2.053-2.129-4.331-3.061-6.502-.674-1.456-1.084-2.91-1.906-4.257-3.85-6.35-8.031-10.196-14.457-13.971-1.381-.786-3.024-1.121-4.779-1.533l-2.803-.148c-.598-.262-1.197-.973-1.719-1.309-2.132-1.344-7.621-4.257-9.189-.411-1.01 2.431 1.494 4.821 2.354 6.054.635.856 1.458 1.83 1.902 2.802.263.635.337 1.309.6 1.98.598 1.644 1.157 3.473 1.943 5.007.41.782.857 1.604 1.381 2.312.3.414.822.597.936 1.272-.521.744-.562 1.867-.861 2.801-1.344 4.221-.819 9.45 1.086 12.552.596.934 2.018 2.99 3.92 2.202 1.684-.672 1.311-2.801 1.795-4.668.111-.451.038-.747.262-1.043v.073c.521 1.045 1.047 2.052 1.53 3.1 1.159 1.829 3.177 3.735 4.858 5.002.895.676 1.604 1.832 2.725 2.245V74.1h-.074c-.227-.335-.559-.485-.857-.745-.674-.673-1.42-1.495-1.943-2.241-1.566-2.093-2.952-4.41-4.182-6.801-.602-1.16-1.121-2.428-1.606-3.586-.226-.447-.226-1.121-.601-1.346-.562.821-1.381 1.532-1.791 2.538-.711 1.609-.785 3.588-1.049 5.646l-.147.072c-1.19-.299-1.604-1.53-2.056-2.575-1.119-2.654-1.307-6.914-.336-9.976.26-.783 1.385-3.249.936-3.995-.225-.715-.973-1.122-1.383-1.685-.482-.708-1.01-1.604-1.346-2.39-.896-2.091-1.347-4.408-2.312-6.498-.451-.974-1.234-1.982-1.868-2.879-.712-1.008-1.495-1.718-2.058-2.913-.186-.411-.447-1.083-.148-1.53.073-.3.225-.412.523-.487.484-.409 1.867.111 2.352.336 1.385.56 2.543 1.083 3.699 1.867.523.375 1.084 1.085 1.755 1.272h.786c1.193.26 2.538.072 3.661.41 1.979.636 3.772 1.569 5.38 2.576 4.893 3.103 8.928 7.512 11.652 12.778.447.858.637 1.644 1.045 2.539.787 1.832 1.76 3.7 2.541 5.493.785 1.755 1.533 3.547 2.654 5.005.559.784 2.805 1.195 3.812 1.606.745.335 1.905.633 2.577 1.044 1.271.783 2.537 1.682 3.732 2.543.595.448 2.465 1.382 2.576 2.13M99.484 39.844a5.82 5.82 0 0 0-1.529.188v.075h.072c.301.597.824 1.011 1.197 1.532.301.599.562 1.193.857 1.791l.072-.074c.527-.373.789-.971.789-1.868-.227-.264-.262-.522-.451-.784-.22-.374-.705-.56-1.007-.86"
                                            fill="#5d87a1" />
                                        <path
                                            d="M141.148 113.578h.774v-3.788h-1.161l-.947 2.585-1.029-2.585h-1.118v3.788h.731v-2.882h.041l1.078 2.882h.557l1.074-2.882v2.882zm-6.235 0h.819v-3.146h1.072v-.643h-3.008v.643h1.115l.002 3.146z"
                                            fill="#f8981d" />
                                    </svg>
                                    <strong class="fs-4">MySql</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="mysql1">
                                    </div>
                                    <div class="circle " id="mysql2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/mysql"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M13.0164 2C10.8193 2 9.03825 3.72453 9.03825 5.85185V8.51852H15.9235V9.25926H5.97814C3.78107 9.25926 2 10.9838 2 13.1111L2 18.8889C2 21.0162 3.78107 22.7407 5.97814 22.7407H8.27322V19.4815C8.27322 17.3542 10.0543 15.6296 12.2514 15.6296H19.5956C21.4547 15.6296 22.9617 14.1704 22.9617 12.3704V5.85185C22.9617 3.72453 21.1807 2 18.9836 2H13.0164ZM12.0984 6.74074C12.8589 6.74074 13.4754 6.14378 13.4754 5.40741C13.4754 4.67103 12.8589 4.07407 12.0984 4.07407C11.3378 4.07407 10.7213 4.67103 10.7213 5.40741C10.7213 6.14378 11.3378 6.74074 12.0984 6.74074Z"
                                            fill="url(#paint0_linear_87_8204)" />
                                        <path fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M18.9834 30C21.1805 30 22.9616 28.2755 22.9616 26.1482V23.4815L16.0763 23.4815L16.0763 22.7408L26.0217 22.7408C28.2188 22.7408 29.9998 21.0162 29.9998 18.8889V13.1111C29.9998 10.9838 28.2188 9.25928 26.0217 9.25928L23.7266 9.25928V12.5185C23.7266 14.6459 21.9455 16.3704 19.7485 16.3704L12.4042 16.3704C10.5451 16.3704 9.03809 17.8296 9.03809 19.6296L9.03809 26.1482C9.03809 28.2755 10.8192 30 13.0162 30H18.9834ZM19.9015 25.2593C19.1409 25.2593 18.5244 25.8562 18.5244 26.5926C18.5244 27.329 19.1409 27.9259 19.9015 27.9259C20.662 27.9259 21.2785 27.329 21.2785 26.5926C21.2785 25.8562 20.662 25.2593 19.9015 25.2593Z"
                                            fill="url(#paint1_linear_87_8204)" />
                                        <defs>
                                            <lineargradient
                                                id="paint0_linear_87_8204"
                                                x1="12.4809" y1="2" x2="12.4809"
                                                y2="22.7407"
                                                gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#327EBD" />
                                                <stop offset="1"
                                                    stop-color="#1565A7" />
                                            </lineargradient>
                                            <lineargradient
                                                id="paint1_linear_87_8204"
                                                x1="19.519" y1="9.25928"
                                                x2="19.519" y2="30"
                                                gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#FFDA4B" />
                                                <stop offset="1"
                                                    stop-color="#F9C600" />
                                            </lineargradient>
                                        </defs>
                                    </svg>
                                    <strong class="fs-4"> Python</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="py1">
                                    </div>
                                    <div class="circle " id="py2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/python"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg height="383.5975" id="svg3430"
                                        version="1.1"
                                        viewBox="0 0 711.20123 383.5975"
                                        width="150px" xml:space="preserve"
                                        xmlns="http://www.w3.org/2000/svg"
                                        xmlns:cc="http://creativecommons.org/ns#"
                                        xmlns:dc="http://purl.org/dc/elements/1.1/"
                                        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                        xmlns:svg="http://www.w3.org/2000/svg">

                                        <metadata id="metadata3436">
                                            <rdf:rdf>
                                                <cc:work rdf:about>
                                                    <dc:format>image/svg+xml</dc:format>
                                                    <dc:type
                                                        rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                                    <dc:title>Official PHP
                                                        Logo</dc:title>
                                                    <dc:creator>
                                                        <cc:agent>
                                                            <dc:title>Colin
                                                                Viebrock</dc:title>
                                                        </cc:agent>
                                                    </dc:creator>
                                                    <dc:description />
                                                    <dc:contributor>
                                                        <cc:agent>
                                                            <dc:title />
                                                        </cc:agent>
                                                    </dc:contributor>
                                                    <cc:license
                                                        rdf:resource="http://creativecommons.org/licenses/by-sa/4.0/" />
                                                    <dc:rights>
                                                        <cc:agent>
                                                            <dc:title>Copyright
                                                                Colin Viebrock
                                                                1997 - All
                                                                rights
                                                                reserved.</dc:title>
                                                        </cc:agent>
                                                    </dc:rights>
                                                    <dc:date>1997</dc:date>
                                                </cc:work>
                                                <cc:license
                                                    rdf:about="http://creativecommons.org/licenses/by-sa/4.0/">
                                                    <cc:permits
                                                        rdf:resource="http://creativecommons.org/ns#Reproduction" />
                                                    <cc:permits
                                                        rdf:resource="http://creativecommons.org/ns#Distribution" />
                                                    <cc:requires
                                                        rdf:resource="http://creativecommons.org/ns#Notice" />
                                                    <cc:requires
                                                        rdf:resource="http://creativecommons.org/ns#Attribution" />
                                                    <cc:permits
                                                        rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                                                    <cc:requires
                                                        rdf:resource="http://creativecommons.org/ns#ShareAlike" />
                                                </cc:license>
                                            </rdf:rdf>
                                        </metadata>
                                        <defs id="defs3434">
                                            <clippath
                                                clipPathUnits="userSpaceOnUse"
                                                id="clipPath3444">
                                                <path
                                                    d="M 11.52,162 C 11.52,81.677 135.307,16.561 288,16.561 l 0,0 c 152.693,0 276.481,65.116 276.481,145.439 l 0,0 c 0,80.322 -123.788,145.439 -276.481,145.439 l 0,0 C 135.307,307.439 11.52,242.322 11.52,162"
                                                    id="path3446" />
                                            </clippath>
                                            <radialgradient cx="0" cy="0" fx="0"
                                                fy="0"
                                                gradientTransform="matrix(363.05789,0,0,-363.05789,177.52002,256.30713)"
                                                gradientUnits="userSpaceOnUse"
                                                id="radialGradient3452" r="1"
                                                spreadMethod="pad">
                                                <stop id="stop3454" offset="0"
                                                    style="stop-opacity:1;stop-color:#aeb2d5" />
                                                <stop id="stop3456" offset="0.3"
                                                    style="stop-opacity:1;stop-color:#aeb2d5" />
                                                <stop id="stop3458"
                                                    offset="0.75"
                                                    style="stop-opacity:1;stop-color:#484c89" />
                                                <stop id="stop3460" offset="1"
                                                    style="stop-opacity:1;stop-color:#484c89" />
                                            </radialgradient>
                                            <clippath
                                                clipPathUnits="userSpaceOnUse"
                                                id="clipPath3468">
                                                <path
                                                    d="M 0,324 576,324 576,0 0,0 0,324 Z"
                                                    id="path3470" />
                                            </clippath>
                                            <clippath
                                                clipPathUnits="userSpaceOnUse"
                                                id="clipPath3480">
                                                <path
                                                    d="M 0,324 576,324 576,0 0,0 0,324 Z"
                                                    id="path3482" />
                                            </clippath>
                                        </defs>
                                        <g id="g3438"
                                            transform="matrix(1.25,0,0,-1.25,-4.4,394.29875)">
                                            <g id="g3440">
                                                <g
                                                    clip-path="url(#clipPath3444)"
                                                    id="g3442">
                                                    <g id="g3448">
                                                        <g id="g3450">
                                                            <path
                                                                d="M 11.52,162 C 11.52,81.677 135.307,16.561 288,16.561 l 0,0 c 152.693,0 276.481,65.116 276.481,145.439 l 0,0 c 0,80.322 -123.788,145.439 -276.481,145.439 l 0,0 C 135.307,307.439 11.52,242.322 11.52,162"
                                                                id="path3462"
                                                                style="fill:url(#radialGradient3452);stroke:none" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                            <g id="g3464">
                                                <g
                                                    clip-path="url(#clipPath3468)"
                                                    id="g3466">
                                                    <g id="g3472"
                                                        transform="translate(288,27.3594)">
                                                        <path
                                                            d="M 0,0 C 146.729,0 265.68,60.281 265.68,134.641 265.68,209 146.729,269.282 0,269.282 -146.729,269.282 -265.68,209 -265.68,134.641 -265.68,60.281 -146.729,0 0,0"
                                                            id="path3474"
                                                            style="fill:#777bb3;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                </g>
                                            </g>
                                            <g id="g3476">
                                                <g
                                                    clip-path="url(#clipPath3480)"
                                                    id="g3478">
                                                    <g id="g3484"
                                                        transform="translate(161.7344,145.3066)">
                                                        <path
                                                            d="m 0,0 c 12.065,0 21.072,2.225 26.771,6.611 5.638,4.341 9.532,11.862 11.573,22.353 1.903,9.806 1.178,16.653 -2.154,20.348 C 32.783,53.086 25.417,55 14.297,55 L -4.984,55 -15.673,0 0,0 Z m -63.063,-67.75 c -0.895,0 -1.745,0.4 -2.314,1.092 -0.57,0.691 -0.801,1.601 -0.63,2.48 L -37.679,81.573 C -37.405,82.982 -36.17,84 -34.734,84 L 26.32,84 C 45.508,84 59.79,78.79 68.767,68.513 77.792,58.182 80.579,43.741 77.05,25.592 75.614,18.198 73.144,11.331 69.709,5.183 66.27,-0.972 61.725,-6.667 56.198,-11.747 49.582,-17.939 42.094,-22.429 33.962,-25.071 25.959,-27.678 15.681,-29 3.414,-29 l -24.722,0 -7.06,-36.322 c -0.274,-1.41 -1.508,-2.428 -2.944,-2.428 l -31.751,0 z"
                                                            id="path3486"
                                                            style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                    <g id="g3488"
                                                        transform="translate(159.2236,197.3071)">
                                                        <path
                                                            d="m 0,0 16.808,0 c 13.421,0 18.083,-2.945 19.667,-4.7 2.628,-2.914 3.124,-9.058 1.435,-17.767 C 36.012,-32.217 32.494,-39.13 27.452,-43.012 22.29,-46.986 13.898,-49 2.511,-49 L -9.523,-49 0,0 Z m 28.831,35 -61.055,0 c -2.872,0 -5.341,-2.036 -5.889,-4.855 l -28.328,-145.751 c -0.342,-1.759 0.12,-3.578 1.259,-4.961 1.14,-1.383 2.838,-2.183 4.63,-2.183 l 31.75,0 c 2.873,0 5.342,2.036 5.89,4.855 l 6.588,33.895 22.249,0 c 12.582,0 23.174,1.372 31.479,4.077 8.541,2.775 16.399,7.48 23.354,13.984 5.752,5.292 10.49,11.232 14.08,17.657 3.591,6.427 6.171,13.594 7.668,21.302 3.715,19.104 0.697,34.402 -8.969,45.466 C 63.965,29.444 48.923,35 28.831,35 m -45.633,-90 19.313,0 c 12.801,0 22.336,2.411 28.601,7.234 6.266,4.824 10.492,12.875 12.688,24.157 2.101,10.832 1.144,18.476 -2.871,22.929 C 36.909,3.773 28.87,6 16.808,6 L -4.946,6 -16.802,-55 M 28.831,29 C 47.198,29 60.597,24.18 69.019,14.539 77.44,4.898 79.976,-8.559 76.616,-25.836 75.233,-32.953 72.894,-39.46 69.601,-45.355 66.304,-51.254 61.999,-56.648 56.679,-61.539 50.339,-67.472 43.296,-71.7 35.546,-74.218 27.796,-76.743 17.925,-78 5.925,-78 l -27.196,0 -7.531,-38.75 -31.75,0 28.328,145.75 61.055,0"
                                                            id="path3490"
                                                            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                    <g id="g3492"
                                                        transform="translate(311.583,116.3066)">
                                                        <path
                                                            d="m 0,0 c -0.896,0 -1.745,0.4 -2.314,1.092 -0.571,0.691 -0.802,1.6 -0.631,2.48 L 9.586,68.061 C 10.778,74.194 10.484,78.596 8.759,80.456 7.703,81.593 4.531,83.5 -4.848,83.5 L -27.55,83.5 -43.305,2.428 C -43.579,1.018 -44.814,0 -46.25,0 l -31.5,0 c -0.896,0 -1.745,0.4 -2.315,1.092 -0.57,0.691 -0.801,1.601 -0.63,2.48 l 28.328,145.751 c 0.274,1.409 1.509,2.427 2.945,2.427 l 31.5,0 c 0.896,0 1.745,-0.4 2.315,-1.091 0.57,-0.692 0.801,-1.601 0.63,-2.481 L -21.813,113 2.609,113 c 18.605,0 31.221,-3.28 38.569,-10.028 7.49,-6.884 9.827,-17.891 6.947,-32.719 L 34.945,2.428 C 34.671,1.018 33.437,0 32,0 L 0,0 Z"
                                                            id="path3494"
                                                            style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                    <g id="g3496"
                                                        transform="translate(293.6611,271.0571)">
                                                        <path
                                                            d="m 0,0 -31.5,0 c -2.873,0 -5.342,-2.036 -5.89,-4.855 l -28.328,-145.751 c -0.342,-1.759 0.12,-3.578 1.26,-4.961 1.14,-1.383 2.838,-2.183 4.63,-2.183 l 31.5,0 c 2.872,0 5.342,2.036 5.89,4.855 l 15.283,78.645 20.229,0 c 9.363,0 11.328,-2 11.407,-2.086 0.568,-0.611 1.315,-3.441 0.082,-9.781 l -12.531,-64.489 c -0.342,-1.759 0.12,-3.578 1.26,-4.961 1.14,-1.383 2.838,-2.183 4.63,-2.183 l 32,0 c 2.872,0 5.342,2.036 5.89,4.855 l 13.179,67.825 c 3.093,15.921 0.447,27.864 -7.861,35.5 -7.928,7.281 -21.208,10.82 -40.599,10.82 l -20.784,0 6.143,31.605 C 6.231,-5.386 5.77,-3.566 4.63,-2.184 3.49,-0.801 1.792,0 0,0 m 0,-6 -7.531,-38.75 28.062,0 c 17.657,0 29.836,-3.082 36.539,-9.238 6.703,-6.16 8.711,-16.141 6.032,-29.938 l -13.18,-67.824 -32,0 12.531,64.488 c 1.426,7.336 0.902,12.34 -1.574,15.008 -2.477,2.668 -7.746,4.004 -15.805,4.004 l -25.176,0 -16.226,-83.5 -31.5,0 L -31.5,-6 0,-6"
                                                            id="path3498"
                                                            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                    <g id="g3500"
                                                        transform="translate(409.5498,145.3066)">
                                                        <path
                                                            d="m 0,0 c 12.065,0 21.072,2.225 26.771,6.611 5.638,4.34 9.532,11.861 11.574,22.353 1.903,9.806 1.178,16.653 -2.155,20.348 C 32.783,53.086 25.417,55 14.297,55 L -4.984,55 -15.673,0 0,0 Z m -63.062,-67.75 c -0.895,0 -1.745,0.4 -2.314,1.092 -0.57,0.691 -0.802,1.601 -0.631,2.48 L -37.679,81.573 C -37.404,82.982 -36.17,84 -34.733,84 L 26.32,84 C 45.509,84 59.79,78.79 68.768,68.513 77.793,58.183 80.579,43.742 77.051,25.592 75.613,18.198 73.144,11.331 69.709,5.183 66.27,-0.972 61.725,-6.667 56.198,-11.747 49.582,-17.939 42.094,-22.429 33.962,-25.071 25.959,-27.678 15.681,-29 3.414,-29 l -24.723,0 -7.057,-36.322 c -0.275,-1.41 -1.509,-2.428 -2.946,-2.428 l -31.75,0 z"
                                                            id="path3502"
                                                            style="fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                    <g id="g3504"
                                                        transform="translate(407.0391,197.3071)">
                                                        <path
                                                            d="M 0,0 16.808,0 C 30.229,0 34.891,-2.945 36.475,-4.7 39.104,-7.614 39.6,-13.758 37.91,-22.466 36.012,-32.217 32.493,-39.13 27.452,-43.012 22.29,-46.986 13.898,-49 2.511,-49 L -9.522,-49 0,0 Z m 28.831,35 -61.054,0 c -2.872,0 -5.341,-2.036 -5.889,-4.855 L -66.44,-115.606 c -0.342,-1.759 0.12,-3.578 1.259,-4.961 1.14,-1.383 2.838,-2.183 4.63,-2.183 l 31.75,0 c 2.872,0 5.342,2.036 5.89,4.855 l 6.587,33.895 22.249,0 c 12.582,0 23.174,1.372 31.479,4.077 8.541,2.775 16.401,7.481 23.356,13.986 5.752,5.291 10.488,11.23 14.078,17.655 3.591,6.427 6.171,13.594 7.668,21.302 3.715,19.105 0.697,34.403 -8.969,45.467 C 63.965,29.444 48.924,35 28.831,35 m -45.632,-90 19.312,0 c 12.801,0 22.336,2.411 28.601,7.234 6.267,4.824 10.492,12.875 12.688,24.157 2.102,10.832 1.145,18.476 -2.871,22.929 C 36.909,3.773 28.87,6 16.808,6 L -4.946,6 -16.801,-55 M 28.831,29 C 47.198,29 60.597,24.18 69.019,14.539 77.441,4.898 79.976,-8.559 76.616,-25.836 75.233,-32.953 72.894,-39.46 69.601,-45.355 66.304,-51.254 61.999,-56.648 56.679,-61.539 50.339,-67.472 43.296,-71.7 35.546,-74.218 27.796,-76.743 17.925,-78 5.925,-78 l -27.196,0 -7.53,-38.75 -31.75,0 28.328,145.75 61.054,0"
                                                            id="path3506"
                                                            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <strong class="fs-4">PHP</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="php1">
                                    </div>
                                    <div class="circle " id="php2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/php"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z"
                                            fill="#E44D26" />
                                        <path d="M26 5H16V29.5L24 27L26 5Z"
                                            fill="#F16529" />
                                        <path
                                            d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
                                            fill="white" />
                                    </svg>
                                    <strong class="fs-4">HTML</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="html1">
                                    </div>
                                    <div class="circle " id="html2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/html"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="category-card">
                        <div class="content">
                            <div class="back">
                                <div class="back-content">
                                    <svg width="150px" height="150px"
                                        viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 28L4 3H28L26 28L16 31L6 28Z"
                                            fill="#1172B8" />
                                        <path d="M26 5H16V29.5L24 27L26 5Z"
                                            fill="#33AADD" />
                                        <path
                                            d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z"
                                            fill="white" />
                                    </svg>
                                    <strong class="fs-4">CSS</strong>
                                </div>
                            </div>
                            <div class="front">

                                <div class="img">
                                    <div class="circle ">
                                    </div>
                                    <div class="circle " id="css1">
                                    </div>
                                    <div class="circle " id="css2">
                                    </div>
                                </div>

                                <div class="front-content">
                                    <small
                                        class="badge fs-5">12322222222+</small>
                                    <div class="description">
                                        <div class="title">
                                            <a
                                                href="/code-list/css"
                                                class="btn show-btn btn-lg">Show
                                                Codes</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('../partials/footer.ejs') %>

        <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module">
            import dontHover from './dontHover.js';
            dontHover();
        </script>
    </body>
</html>