<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header.ejs') %>
        <link rel="stylesheet" href="/static/css/categories.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>

        <div class="container-fluid text-light">
            <div class="row justify-content-center p-3 align-items-center">
                <div class="col-md-12">
                    <div class="card text-center custom-header-card">
                        <div class="card-header">
                            <h1>Category List</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-5 align-items-center justify-content-center">
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/java.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>Java</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/java"="/java-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/js.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>Javascript</h3>
                                <p class="fs-4">123</p>
                                <a
                                    href="/code-list/javascript"="/javascript-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/c-sharp.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>C#</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/csharp"="/csharp-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/html.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>HTML</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/html"="/html-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/css.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>CSS</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/css"="/css-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/react.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>React</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/react"="/react-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/php.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>PHP</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/php"="/php-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/python.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>Python</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/python"="/python-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-2">
                    <div class="card custom-category-card ">
                        <div class="card-img-container ">
                            <img src="/static/img/mysql.png"
                                class="card-img-top">
                        </div>
                        <div
                            style="height: 100%;"
                            class="card-body  border d-flex justify-content-center align-items-center">
                            <div class="text-center">
                                <h3>MySQL</h3>
                                <p class="fs-4">123</p>
                                <a href="/code-list/mysql"="/mysql-codes"
                                    class="btn custom-go-btn">Show Codes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('../partials/footer.ejs') %>

        <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script type="module">
            import dontHover from './dontHover.js';
            dontHover();
        </script>
    </body>
</html>